<!DOCTYPE html>
<html>
<head>
	<title>Events W'21</title>
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <link href="./stylesheets/icofont/icofont.min.css" rel="stylesheet">
  <link href="./stylesheets/navbar.css" rel="stylesheet">
  <link rel="shortcut icon" href="./images/logo-mini.png" type="image/x-icon">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/yanthrix.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/matricks.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/col.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/lan.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/garc.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/onnet.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/exsu.css">
  <link rel="stylesheet" type="text/css" href="./stylesheets/eventspage/img.css">
  
  <style >
 

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.knowmore {
  display: block;
  position:absolute;
  top: 70%;
  left:32.5%;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  margin: 20px 0px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .2s;
  z-index: 100;
  
}
.knowmore button:hover {
  background: rgba(255, 255, 255, .8);
  color: black;
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  mix-blend-mode: screen;
}

@media only screen and (max-device-width: 400px ){

  .knowmore {
  display: block;
  position:absolute;
  top: 110%;
  left:12.5%;

  }
}
    body{
		width: 100vw;
		background-color: rgb(0, 0, 0);
    }
  .container{
    overflow: hidden;
  }

  </style>

</head>


<body style="background: black;">
<script>
  AOS.init();
</script> 
<!-- <div id="particles-background" class="vertical-centered-box"><canvas class="pg-canvas"  height="303" style="display: block;"></canvas></div>
<div id="particles-foreground" class="vertical-centered-box"><canvas class="pg-canvas"  height="303" style="display: block;"></canvas></div>
 -->

 <header style="height: 1vh !important;" class="hidden">
  <div id="navigation" class="">
    <a class="menu-toggle">
      <div class="btn-toggle">
        <div>
          <div class="before"></div>
          <div class="after"></div>
        </div>
      </div>
    </a>
    <nav role="navigation" aria-labelledby="block-butterfly-main-menu-menu" id="block-butterfly-main-menu" class="page-navigation-menu block block-menu navigation menu--main">
          
      <h2 class="visually-hidden" id="block-butterfly-main-menu-menu">Main navigation</h2>
      <ul>
        <% if(participant) { %>
      <li class="open">
        <a href="/profile"><i class="icofont-ui-user"></i></a><br><br><a href="/profile">My Profile</a>
        </li>
        <% } else { %>
      <li class="open">
                  <a href="/auth/google"><i class="icofont-sign-in"></i></a><br><br><a href="/auth/google">Sign In</a>
      </li>
        <% } %>
      <li>
                  <a href="/about"><i class="icofont-info-circle"></i></a><br><br><a href="/about">About</a>
      </li>
      <li>
                  <a href="/competitions"><i class="icofont-puzzle"></i></a><br><br><a href="/competitions" data-drupal-link-system-path="node/4">Competitions</a>
      </li>
      <li>
                  <a href="/workshops"><i class="icofont-learn"></i></a><br><br><a href="/workshops" data-drupal-link-system-path="case-studies">Workshops</a>
      </li>
      <li>
                  <a href="/guestlectures"><i class="icofont-mic"></i></a><br><br><a href="/guestlectures" data-drupal-link-system-path="blog">Guest Lectures</a>
      </li>
      <li>
                  <a href="/exhibits"><i class="icofont-robot"></i></a><br><br><a href="/exhibits" data-drupal-link-system-path="contact/contact_us">Exhibits</a>
      </li>
      
      <li>
                  <a href="/initiatives"><i class="icofont-light-bulb"></i></a><br><br><a href="/initiatives" data-drupal-link-system-path="contact/contact_us">Initiatives</a>
      </li>
      <li>
                  <a href="/highlights"><i class="icofont-star-alt-1"></i></a><br><br><a href="/highlights" data-drupal-link-system-path="contact/contact_us">Highlights</a>
      </li>
      <li>
                  <a href="https://ca.wissenaire.org" ><i class="icofont-live-support"></i></a><br><br><a href="https://ca.wissenaire.org" data-drupal-link-system-path="contact/contact_us">Campus Ambassador</a>
      </li>
      <li>
                  <a href="/team"><i class="icofont-speech-comments"></i></a><br><br><a href="/team" data-drupal-link-system-path="contact/contact_us">Team</a>
      </li>
      <li>
                  <a href="/sponsors"><i class="icofont-money"></i></a><br><br><a href="/sponsors" data-drupal-link-system-path="contact/contact_us">Sponsors'20</a>
      </li>
      <li>
                  <a href="/contact"><i class="icofont-send-mail"></i></a><br><br><a href="/contact" data-drupal-link-system-path="contact/contact_us">Reach us</a>
      </li>

      </ul>
    </nav>
    
    <div id="block-butterfly-branding" class="site-branding block block-system block-system-branding-block">
      <a href="/" title="Home" rel="home" class="site-branding__logo"> 
    <dpan class="sr-only">Wissenaire logo</dpan>
    </a>
  </div>
  <div class="menu-slide-back">
    <span class="icon icon-fonts icon-arrow-back">
    <span class="sr-only">go back to previous menu</span>
    </span>
  </div>
  </div>
</header>

<div class="container" id="open"> 
  
		<div class="row ">
			<div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
				 



  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="yantrixdot">

    <button  onclick="location.href = 'https://wissenaire.org/arduinohackathon';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">

      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        <li class="navigation-circle-list-yan"><a href='https://wissenaire.org/arduinohackathon' class="navigation-circle-list-yan__point" onclick="onClick(1)" onmouseenter="calculateOffset(1)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Arduino Hackathon
              </p>
             
             <!-- <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>-->
            </div></a></li>
        <li class="navigation-circle-list-yan"><a href='https://wissenaire.org/cad' class="navigation-circle-list-yan__point" onclick="onClick(2)" onmouseenter="calculateOffset(2)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Robotics CAD
              </p>
            </div></a></li>
         <!--  <li class="navigation-circle-list-yan"><a class="navigation-circle-list-yan__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Item #3
              </p>
              <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-yan"><a class="navigation-circle-list-yan__point" onclick="onClick(4)" onmouseenter="calculateOffset(4)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Item #4
              </p>
              <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>
            </div></a></li>
     <li class="navigation-circle-list-yan"><a class="navigation-circle-list-yan__point" onclick="onClick(5)" onmouseenter="calculateOffset(5)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Item #5
              </p>
              <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-yan"><a class="navigation-circle-list-yan__point" onclick="onClick(6)" onmouseenter="calculateOffset(6)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Item #6
              </p>
              <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-yan"><a  href ="https://wissenaire.org/"class="navigation-circle-list-yan__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-yan__meta">
              <p class="navigation-circle-list-yan__title">Item #7
              </p>
              <h4 class="navigation-circle-list-yan__subtitle">It just goes round and round</h4>
            </div></a></li> -->
      </ul>
    </div>
  </div>
			</div>

			<div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
				<div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500"><h2>Yanthrix</h2></div>
				
			<div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">	<p>Yanthrix collectively represents all the robotics events of the fest. The events are noted for promoting a spirit of technology among techies. All events under Yanthrix are designed to test the team-work and dedication of competing groups of students with competitions like Kick-Off, Robo-Wars, Rescue-Bot, and Maze-Solver etc.</p></div>

			</div>
		</div>
    <!--end of yanthrix -->

    <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
         



  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1000">
     <span class="matricksdot">
       <button  onclick="location.href = 'https://wissenaire.org/ml';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        
        <li class="navigation-circle-list-mat"><a href='https://wissenaire.org/artelligence' class="navigation-circle-list-mat__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-mat__meta">
              <p class="navigation-circle-list-mat__title">Artelligence
              </p>
            </div></a></li>
        
        <li class="navigation-circle-list-mat"><a href="https://wissenaire.org/countercypher" class="navigation-circle-list-mat__point" onclick="onClick(5)" onmouseenter="calculateOffset(5)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-mat__meta">
              <p class="navigation-circle-list-mat__title">Counter Cypher
              </p>
            </div></a></li>
        
      <!--  <li class="navigation-circle-list-mat"><a  href ="https://wissenaire.org/"class="navigation-circle-list-mat__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-mat__meta">
              <p class="navigation-circle-list-mat__title">Item #7
              </p>
              <h4 class="navigation-circle-list-mat__subtitle">It just goes round and round</h4>
            </div></a></li> -->
      </ul>
    </div>
  </div>
      </div>

      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500"> <h2>Matricks</h2></div>
        
       <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">   <p>With the present world being digitalized, Wissenaire creates a platform to
         develop one's creativity and critical thinking skills in practical situations 
         with brain-teasing problem statements involving Coding, CAD designing, App development, 
         Solid Works etc
        </p></div>

      </div>
    </div>
    <!-- end of matricks -->

    <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1000">
     <span class="coloqdot">
       <button  onclick="location.href = 'https://wissenaire.org/colloquiacs';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        <li class="navigation-circle-list-col"><a href="https://wissenaire.org/colloquiace" class="navigation-circle-list-col__point" onclick="onClick(1)" onmouseenter="calculateOffset(1)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-col__meta">
              <p class="navigation-circle-list-col__title">Civil
              </p>
            </div></a></li>
        <li class="navigation-circle-list-col"><a href="https://wissenaire.org/colloquiame" class="navigation-circle-list-col__point" onclick="onClick(2)" onmouseenter="calculateOffset(2)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-col__meta">
              <p class="navigation-circle-list-col__title">Mechanical
              </p>
            </div></a></li>
        <li class="navigation-circle-list-col"><a href="https://wissenaire.org/colloquiacs" class="navigation-circle-list-col__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-col__meta">
              <p class="navigation-circle-list-col__title"> Computer Science
              </p>
            </div></a></li>
      
        <li class="navigation-circle-list-col"><a  href ="https://wissenaire.org/colloquiaee" class="navigation-circle-list-col__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-col__meta">
              <p class="navigation-circle-list-col__title"> Electrical
              </p>
            </div></a></li>
              </ul>
    </div>
  </div>
      </div>

      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
    <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500">    <h2>Colloquia</h2> </div>
        
      <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">    <p>The Paper Presentation event of Wissenaire aims at tapping the infinite potential of the human mind in generating an “idea”, which when given a proper platform can transform into a great new discovery or innovation. The colloquia cover various streams like Civil Engineering, Electrical Engineering, Mechanical Engineering and Computer Science Engineering</p></div>
      </div>
    </div>
<!-- end of colloqia -->

<div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="landot">
       <button  onclick="location.href = 'https://wissenaire.org/valorant';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        <li class="navigation-circle-list-lan"><a href="https://wissenaire.org/valorant" class="navigation-circle-list-lan__point" onclick="onClick(1)" onmouseenter="calculateOffset(1)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-lan__meta">
              <p class="navigation-circle-list-lan__title">Valorant
              </p>
            </div></a></li>
        <li class="navigation-circle-list-lan"><a href="https://wissenaire.org/csgo" class="navigation-circle-list-lan__point" onclick="onClick(2)" onmouseenter="calculateOffset(2)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-lan__meta">
              <p class="navigation-circle-list-lan__title">CSGO
              </p>
            </div></a></li>
      
      </ul>
    </div>
  </div>
      </div>

      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
     <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1500">   <h2>LAN Wars</h2> </div>
        
      <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">    <p>Are you a hardcore gamer? Does the rattle of guns turn you on?
The time has come to blend your style and experience on a global competitive stage. Enter the
Battlefield and show your mettle in this virtual war.  So, what are you waiting for?Gear up and ready your guns.
Battle hard and be the last one standing!! </p></div>
      </div>
    </div>
<!-- end of lan wars -->
<div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
         



  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="gacdot">
       <button  onclick="location.href = 'https://wissenaire.org/analogcircuitdesign';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        <li class="navigation-circle-list-garc"><a href="https://wissenaire.org/analogcircuitdesign" class="navigation-circle-list-garc__point" onclick="onClick(1)" onmouseenter="calculateOffset(1)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Analog Circuit design
              </p>
            </div></a></li>
        <li class="navigation-circle-list-garc"><a href="https://wissenaire.org/mathsolympiad" class="navigation-circle-list-garc__point" onclick="onClick(2)" onmouseenter="calculateOffset(2)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Maths Olympaid
              </p>
            </div></a></li>
       <!--  <li class="navigation-circle-list-garc"><a class="navigation-circle-list-garc__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Item #3
              </p>
              <h4 class="navigation-circle-list-garc__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-garc"><a class="navigation-circle-list-garc__point" onclick="onClick(4)" onmouseenter="calculateOffset(4)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Item #4
              </p>
              <h4 class="navigation-circle-list-garc__subtitle">It just goes round and round</h4>
            </div></a></li>
       <li class="navigation-circle-list-garc"><a class="navigation-circle-list-garc__point" onclick="onClick(5)" onmouseenter="calculateOffset(5)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Item #5
              </p>
              <h4 class="navigation-circle-list-garc__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-garc"><a class="navigation-circle-list-garc__point" onclick="onClick(6)" onmouseenter="calculateOffset(6)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Item #6
              </p>
              <h4 class="navigation-circle-list-garc__subtitle">It just goes round and round</h4>
            </div></a></li>
        <li class="navigation-circle-list-garc"><a  href ="https://wissenaire.org/"class="navigation-circle-list-garc__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-garc__meta">
              <p class="navigation-circle-list-garc__title">Item #7
              </p>
              <h4 class="navigation-circle-list-garc__subtitle">It just goes round and round</h4>
            </div></a></li> -->
      </ul>
    </div>
  </div>
      </div>

      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
    <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1500">    <h2>Grand Arcanum</h2></div>
        
     <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">     <p>The Grand Arcanum includes all design and thinking competitions like Electronix (circuit designing), Stimulant (water-propelled rocket designing), and Smart City Challenge etc.</p></div>

      </div>
    </div>
    <!--end of grand arcanum -->

    <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="onndot">
       <button  onclick="location.href = 'https://wissenaire.org/sciencetoons';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
      <ul class="navigation-circle__list">
        
        <li class="navigation-circle-list-onet"><a href="https://wissenaire.org/sciencetoons" class="navigation-circle-list-onet__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-onet__meta">
              <p class="navigation-circle-list-onet__title">Science Toons
              </p>
            </div></a></li>
        
        <li class="navigation-circle-list-onet"><a href="https://wissenaire.org/sherlock" class="navigation-circle-list-onet__point" onclick="onClick(5)" onmouseenter="calculateOffset(5)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-onet__meta">
              <p class="navigation-circle-list-onet__title">Sherlock
              </p>
            </div></a></li>
        
        <li class="navigation-circle-list-onet"><a  href ="https://wissenaire.org/shutter"class="navigation-circle-list-onet__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-onet__meta">
              <p class="navigation-circle-list-onet__title">Shutter
              </p>
            </div></a></li>
      </ul>
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
     <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500">   <h2>On Net</h2></div>
       <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">   <p>Are you passionate about photography? Wanna indulge yourself in the role of detective? Wanna flavour your scientific knowledge with humour? This is a platform to showcase all these talents. Buckle up and be a part of On Net which consists of Shutter, Sherlock, Scientoons
        </p></div>
      </div>
    </div>

    <!-- end of on net -->

        
       <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1000">
     <span class="exsdot">
       <button  onclick="location.href = 'https://wissenaire.org/pioneersplan';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
    <!--  <ul class="navigation-circle__list">
        
        <li class="navigation-circle-list-exsu"><a class="navigation-circle-list-exsu__point" onclick="onClick(3)" onmouseenter="calculateOffset(3)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-exsu__meta">
              <p class="navigation-circle-list-exsu__title">Item #3
              </p>
              <h4 class="navigation-circle-list-exsu__subtitle">It just goes round and round</h4>
            </div></a></li>
        
        <li class="navigation-circle-list-exsu"><a class="navigation-circle-list-exsu__point" onclick="onClick(5)" onmouseenter="calculateOffset(5)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-exsu__meta">
              <p class="navigation-circle-list-exsu__title">Item #5
              </p>
              <h4 class="navigation-circle-list-exsu__subtitle">It just goes round and round</h4>
            </div></a></li>
        
        <li class="navigation-circle-list-exsu"><a  href ="https://wissenaire.org/"class="navigation-circle-list-exsu__point" onclick="onClick(7)" onmouseenter="calculateOffset(7)" onMouseLeave="onMouseLeave()">
            <div class="navigation-circle-list-exsu__meta">
              <p class="navigation-circle-list-exsu__title">Item #7
              </p>
              <h4 class="navigation-circle-list-exsu__subtitle">It just goes round and round</h4>
            </div></a></li>
      </ul>-->
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1500"> <h2>Executive Suite</h2></div>
      <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">    <p>Executive Suite encompasses all the events under management and is a test of the innovative and managerial skills of the students
        </p></div>
      </div>
    </div>
     <!-- end of executive suite -->

   <!-- <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="2" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
     
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1500"> <h2>Quizzaire</h2></div>
       <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">   <p>writeup needed
        </p></div>
      </div>
    </div> -->
<!-- end of quizzaire -->

<!-- <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="2" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
     
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500"> <h2>Memory Challenge</h2> </div>
      <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">    <p>writeup needed
        </p></div>
      </div>
    </div> -->
    <!-- end of memory Challenge -->

<div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="scdot">
       <button  onclick="location.href = 'https://wissenaire.org/schoolchamp';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
     
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500"> <h2>School Champ</h2></div>
       <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">   <p>It is an event for school children of 8- 10 class 
        which includes written exam, memory test and an interview.
         This event also includes seminars aimed at inculcating curiosity towards the
          technical advancements happening across the globe.
        </p></div>
      </div>
    </div>
    <!-- end of School Champ -->
<!-- 
    <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
       
     data-aos-duration="1000">
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
     
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
      <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500">  <h2>National Coding Olympiad</h2> </div>
      <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">    <p>Wissenaire '21 is collaborating with SuperTeacher Edureforms to organize the National Coding Olympiad for juniors. Through this olympiad, we aim to encourage creativity and help school kids develop some cool coding skills.
        </p></div>
      </div>
    </div>
    
</div> -->
    <!-- end of Qwissenaire -->

    <div class="row ">
      <div class="col-lg-6 col-sm-12  d-flex justify-content-center ">
  <div class="navigation-circle" data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1000">
     <span class="invstrdot">
       <button  onclick="location.href = 'https://wissenaire.org/invstr';" class="knowmore">KNOW MORE</button>
     </span>
    <div class="navigation-circle__inner">
      <svg class="navigation-circle-svg navigation-circle-svg--opaque" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle cx="160" cy="160" r="158" fill="none" stroke-width="1" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dashoffset:0;stroke-dasharray:none;"></circle>
      </svg>
      <svg class="navigation-circle-svg navigation-circle-svg--mask" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 320 320" style="enable-background:new 0 0 320 320">
        <circle id="mask-circle" cx="160" cy="160" r="158" fill="none" stroke-width="4" stroke="#0d47a1" stroke-linecap="round" stroke-miterlimit="10" style="stroke-dasharray:1005.3088px;"></circle>
      </svg>
     
    </div>
  </div>
      </div>
      <div class="col-lg-6 col-sm-12 text-center  text-white event_des_col ">
       <div data-aos="zoom-in-down" data-aos-easing="#example-easing"
        
     data-aos-duration="1500"> <h2>Invstr</h2></div>
       <div data-aos="fade-left"
     data-aos-easing="#example-easing"
    
     data-aos-duration="1500">   <p>It is interesting to see how the stock market graphs change every day. We tend to gamble and invest
      in those shares which have possibility to give high returns. This event introduces participants to a
      brief idea of stocks and tend to test their knowledge on the behaviour of the market.
        </p></div>
      </div>
    </div>





  	
    <!-- <script type="text/javascript" src="./javascripts/canvas.js"></script>   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="./javascripts/jquery.min.js"></script>

</body>
</html>