<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Highlights | Wissenaire'21</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./stylesheets/highlights.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="./stylesheets/icofont/icofont.min.css" rel="stylesheet">
  <link href="./stylesheets/navbar.css" rel="stylesheet">
  <link rel="icon" type="image/png"  href="./images/logo-mini.png" type="image/x-icon">

<style>

   body{
   overflow-x : hidden;
   background-color: black;
   }

   .holder{
     position: absolute;
     height: auto;
     width: 100vw;
     margin-top: 15vh;
   }
    #magnavista{

      margin-top: 155vh;

    }
   .holder2{
     position: absolute;
     height: auto;
     width: 100vw;
   }
   #informals{

margin-top: 300vh;

}
.holder3{
position: absolute;
height: auto;
width: 100vw;
}




   .honeycombs{
     position: absolute;
     left:17.5%;
     

   }
  
   .inner-text-description-long{
      border: 4px solid rgba(0,0,255,0.8);
      border-radius:15px;}
 </style>

</head>
<body>
  <header style="height: 1vh !important;" class="hidden">
		<div id="navigation" class="">
			<a class="menu-toggle">
				<div class="btn-toggle">
					<div>
						<div class="before"></div>
						<div class="after"></div>
					</div>
				</div>
			</a>
			<nav role="navigation" aria-labelledby="block-butterfly-main-menu-menu" id="block-butterfly-main-menu" class="page-navigation-menu block block-menu navigation menu--main">
						
			  <h2 class="visually-hidden" id="block-butterfly-main-menu-menu">Main navigation</h2>
			  <ul>
				  <% if(participant) { %>
				<li class="open">
					<a href="/profile"><i class="icofont-ui-user"></i></a><br><br><a href="/profile">My Profile</a>
				  </li>
				  <% } else { %>
				<li class="open">
                    <a href="/auth/google"><i class="icofont-sign-in"></i></a><br><br><a href="/auth/google">Sign In</a>
				</li>
				  <% } %>
				<li>
                    <a href="/about"><i class="icofont-info-circle"></i></a><br><br><a href="/about">About</a>
				</li>
				<li>
                    <a href="/competitions"><i class="icofont-puzzle"></i></a><br><br><a href="/competitions" data-drupal-link-system-path="node/4">Competitions</a>
				</li>
				<li>
                    <a href="/workshops"><i class="icofont-learn"></i></a><br><br><a href="/workshops" data-drupal-link-system-path="case-studies">Workshops</a>
				</li>
				<li>
                    <a href="/guestlectures"><i class="icofont-mic"></i></a><br><br><a href="/guestlectures" data-drupal-link-system-path="blog">Guest Lectures</a>
				</li>
				<li>
                    <a href="/exhibits"><i class="icofont-robot"></i></a><br><br><a href="/exhibits" data-drupal-link-system-path="contact/contact_us">Exhibits</a>
				</li>
				
				<li>
                    <a href="/initiatives"><i class="icofont-light-bulb"></i></a><br><br><a href="/initiatives" data-drupal-link-system-path="contact/contact_us">Initiatives</a>
				</li>
				<li>
                    <a href="/highlights"><i class="icofont-star-alt-1"></i></a><br><br><a href="/highlights" data-drupal-link-system-path="contact/contact_us">Highlights</a>
				</li>
				<li>
                    <a href="https://ca.wissenaire.org" ><i class="icofont-live-support"></i></a><br><br><a href="https://ca.wissenaire.org" data-drupal-link-system-path="contact/contact_us">Campus Ambassador</a>
				</li>
				<li>
                    <a href="/team"><i class="icofont-speech-comments"></i></a><br><br><a href="/team" data-drupal-link-system-path="contact/contact_us">Team</a>
				</li>
				<li>
                    <a href="/sponsors"><i class="icofont-money"></i></a><br><br><a href="/sponsors" data-drupal-link-system-path="contact/contact_us">Sponsors'20</a>
				</li>
				<li>
                    <a href="/contact"><i class="icofont-send-mail"></i></a><br><br><a href="/contact" data-drupal-link-system-path="contact/contact_us">Reach us</a>
				</li>
	
			  </ul>
			</nav>
			
			<div id="block-butterfly-branding" class="site-branding block block-system block-system-branding-block">
				<a href="/" title="Home" rel="home" class="site-branding__logo"> 
			<dpan class="sr-only">Wissenaire logo</dpan>
		  </a>
		</div>
		<div class="menu-slide-back">
		  <span class="icon icon-fonts icon-arrow-back">
			<span class="sr-only">go back to previous menu</span>
		  </span>
		</div>
	  </div>
	</header>
<!-- partial:index.partial.html -->
<div class="holder">
  <div class="honeycombs honeycombs-wrapper">
  <div class="honeycombs-inner-wrapper">

    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Koppillil Radhakrishnan is an Indian space scientist who headed the Indian Space Research Organisation (ISRO) between November 2009 and December 2014 as Chairman of Space Commission, Secretary of the
          Department of Space and Chairman of ISRO. Presently, he is the Chairperson of the Board of Governors of Indian Institute of Technology (IIT), Kanpur and Chairman of the Standing Committee of the IIT Council,
          besides being Honorary Distinguished Advisor in the Department of Space/ISRO.</p>
        <a href="https://en.wikipedia.org/wiki/K._Radhakrishnan" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        " >
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner"  >
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/krad.jpg'); ">
                <span class="inner-text-description-short valign">K Radhakrishnan</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="comb-container">
      <div class="inner-text-description-long" >
        <p>Kiran Bedi is an Indian politician, retired cop, social activist and former tennis player, who was the 24th Lieutenant Governor of Puducherry
          from 28 May 2016 to 16 February 2021. She is the first Indian female to become an officer in the Indian Police Service and started her
          service in 1972.</p>
        <a href="https://en.wikipedia.org/wiki/Kiran_Bedi" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/kirb.jpg'); ">
                <span class="inner-text-description-short valign">Kiran Bedi</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Gururaj Rao completed his PhD in Electrical Engineering in Stanford University.He worked as an Assistant Professor of Electrical Engineering in Rice University.
          Presently,he is working as IBM Fellow and Systems Chief Engineer.</p>
        <a href="https://www.linkedin.com/in/gururaj-rao-a329a04/" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
               <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('./imgs/guru.png'); ">
                  <span class="inner-text-description-short valign">Gururaj Rao</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/minal.jpeg'); ">
                 <span class="inner-text-description-short valign">Minal Rohit</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url(''); ">
                           <span class="inner-text-description-short valign"><h2>TALKS</h2></span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Arsh Shah Dilbagi is an Indian scientist, Inventor and Roboticist. He is currently an undergraduate Princeton University studying Operations Research and Financial Engineering. He is the founder
          of Arido about which very little has been made public.</p>
        <a href="https://en.wikipedia.org/wiki/Arsh_Shah_Dilbagi" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/arsh1.jpg'); ">
                 <span class="inner-text-description-short valign">Arsh Dilbagi</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                    ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url(''); ">
                 <span class="inner-text-description-short valign"><h2>TALKS</h2></span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Satyan Pitroda popularly known as Sam Pitroda is an Indian telecom engineer, inventor and entrepreneur. He is popularly known as the Father of India's Computer and IT Revolution
          as he helped Prime Minister Rajiv Gandhi in bringing computerization as an advisor to the PM.</p>
        <a href="https://en.wikipedia.org/wiki/Sam_Pitroda" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/sam.jpg'); ">
                  <span class="inner-text-description-short valign">Sam Pitroda</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">7</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">8</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<!--- copied stuff
-->

  <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Non enim solum Torquatus dixit quid sentiret, sed etiam cur. Quicquid porro animo cernimus, id omne oritur a sensibus; Quasi ego id curem, quid ille aiat aut neget. Non pugnem cum homine, cur tantum habeat in natura boni; Duo enim genera quae erant, fecit tria. Verba tu fingas et ea dicas, quae non sentias? Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Sed in rebus apertissimis nimium longi.</p>
        <a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q/videos" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">9</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link="">
        <p>Minal Rohit is an Indian scientist and systems engineer with the Indian Space Research Organisation. She helped send the Mangalyaan space probe to Mars.
          After graduating from Nirma Institute of Technology, Rohit joined the ISRO. She worked with mechanical
          engineers on the team of MOM.</p>
        <a href="https://en.wikipedia.org/wiki/Minal_Rohit" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
              ),url('./imgs/minal.jpeg'); ">
           <span class="inner-text-description-short valign">Minal Rohit</span>



              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Quam ob rem tandem, inquit, non satisfacit? Igitur neque stultorum quisquam beatus neque sapientium non beatus. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Iam in altera philosophiae parte. Negat enim summo bono afferre incrementum diem. Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. Illa argumenta propria videamus, cur omnia sint paria peccata. Quid autem habent admirationis, cum prope accesseris? Eadem nunc mea adversum te oratio est. Ita enim vivunt quidam, ut eorum vita refellatur oratio.</p>
        <a href="https://github.com/MostlyAdequate/mostly-adequate-guide" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                  <span class="inner-text-description-short valign">11</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">14</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">15</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>







</div>
</div>
</div>


<!-- partial -->

<div class="holder2">
  <div class="honeycombs honeycombs-wrapper" id = "magnavista">
  <div class="honeycombs-inner-wrapper">

    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Kenneth Mathew Sebastian, better known as Kenny Sebastian, is an Indian stand-up comedian, musician and filmmaker. He first rose to prominence through a YouTube channel that broadcasts
          clips of his stand-up shows, devotional song covers, in addition to original skits, garnering 152
          million views since 2008.</p>
        <a href="https://en.wikipedia.org/wiki/Kenny_Sebastian" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        " >
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner"  >
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/kenny.jpg'); ">
                <span class="inner-text-description-short valign">Kenny Sebastian </span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Mohammed Irfan is an Indian playback singer who sings predominantly in Hindi. He has also sung in Tamil,
          Kannada, Odia, Telugu, Bengali and Marathi.</p>
        <a href="https://en.wikipedia.org/wiki/Mohammed_Irfan_(singer)" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/mirfan.jpg'); ">
                <span class="inner-text-description-short valign">Mohammed Irfan</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Shilpa Rao, born in Jamshedpur, is an Indian singer particularly
known in the media for trying new styles in her songs and singing for different genres. She started singing since she was a child, tutored and instructed by her father, S. Venkat Rao who holds a degree in music. This helped her interests in music grow, and she became motivated to be a singer upon meeting Hariharan at the age of 13. Later in 2001, she won a national-level talent hunt in New Delhi, and one of it's judges, Shankar Mahadevan, gave her some contacts in Mumbai, helping her to sing jingles for three years and establish a career. </p>
        <a href="https://en.wikipedia.org/wiki/Shilpa_Rao" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
               <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/shilpa.jpg'); ">
                  <span class="inner-text-description-short valign">Shilpa Rao</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/biswa.jpg'); ">
                 <span class="inner-text-description-short valign">Biswa Kalyan Rath</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url(''); ">
                           <span class="inner-text-description-short valign"><h3>MAGNAVISTA</h3></span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Ravinder Singh is an Indian software engineer and author of nine novels — I Too Had a Love Story, Can Love Happen Twice?, Like it happened Yesterday, Love Stories That Touched My Heart, Tell Me A Story,
          Your Dreams are Mine Now, This Love That Feels Right, Will You Still Love Me and The Belated Bachelor Party. </p>
        <a href="https://en.wikipedia.org/wiki/Ravinder_Singh_(author)" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/ravi.jpg'); ">
                 <span class="inner-text-description-short valign">Ravinder Singh</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                    ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url(''); ">
                 <span class="inner-text-description-short valign"><h3>MAGNAVISTA</h3></span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Jubin Nautiyal is an Indian singer.He was awarded Upcoming Male Vocalist of the Year for his song "Zindagi Kuch Toh Bata" from Bajrangi Bhaijaan and his other achievement is the Rising Musical Star Award received at Zee Business Awards.He gave his mesmerizing
          concert in the musical night of Wissenaire-2017.</p>
        <a href="https://en.wikipedia.org/wiki/Jubin_Nautiyal" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/jubnau.jpg'); ">
                  <span class="inner-text-description-short valign">Jubin Nautiyal</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">7</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">8</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<!--- copied stuff
-->

  <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Non enim solum Torquatus dixit quid sentiret, sed etiam cur. Quicquid porro animo cernimus, id omne oritur a sensibus; Quasi ego id curem, quid ille aiat aut neget. Non pugnem cum homine, cur tantum habeat in natura boni; Duo enim genera quae erant, fecit tria. Verba tu fingas et ea dicas, quae non sentias? Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Sed in rebus apertissimis nimium longi.</p>
        <a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q/videos" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">9</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link="">
        <p>Biswa Kalyan Rath is an Indian stand-up comedian, writer and YouTuber. He is from Odisha and came into prominence
          through the YouTube comedy series.He was the standup comedian for the magnavista night of wissenaire-2020</p>
        <a href="https://en.wikipedia.org/wiki/Biswa_Kalyan_Rath" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
              ),url('./imgs/biswa.jpg'); ">
           <span class="inner-text-description-short valign">Biswa Kalyan Rath</span>



              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Quam ob rem tandem, inquit, non satisfacit? Igitur neque stultorum quisquam beatus neque sapientium non beatus. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Iam in altera philosophiae parte. Negat enim summo bono afferre incrementum diem. Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. Illa argumenta propria videamus, cur omnia sint paria peccata. Quid autem habent admirationis, cum prope accesseris? Eadem nunc mea adversum te oratio est. Ita enim vivunt quidam, ut eorum vita refellatur oratio.</p>
        <a href="https://github.com/MostlyAdequate/mostly-adequate-guide" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                  <span class="inner-text-description-short valign">11</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">14</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">15</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>







</div>
</div>
</div>

<!--    third block for informals-->

<div class="holder3">
  <div class="honeycombs honeycombs-wrapper" id = "informals">
  <div class="honeycombs-inner-wrapper">

    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Kunal Newar is the Best Mentalist in India.Ever since childhood, Kunal has always been interested in magic. Although in the beginning, he did not perform, he always used to enjoy the feeling of amazement that magic provides.
         After a couple of years working as an Engineer, Kunal decided to pursue his dream and is now a full-time entertainer and has performed all across the Country for
         Corporates, Weddings, Private Gatherings, TV Shows, Colleges, etc.</p>
        <a href="https://www.kunalnewarmagic.com/" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        " >
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner"  >
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/kunal.png'); ">
                <span class="inner-text-description-short valign">Kunal Newar</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Shashwat Maheshwari is a scientist-turned-standup comedian who has been making waves in the Indian stand-up comedy scene since 2014. A Kanpur native, Shashwat's jokes find a home in his stories from the land of leather and his experiences navigating through life in big cities. Shashwat's genuine storytelling and a knack for packaging surprise in his words led him to get featured twice on NDTV's Rising Stars of Comedy, a featured act in Weirdass Pyjama Festival, Bengaluru Comedy Festival, and won him a coveted spot on India's biggest hunt for comedians, Amazon Prime Original's Comicstaan.</p>
        <a href="https://in.bookmyshow.com/person/shashwat-maheshwari/1048816" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
            <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/smh.jpg'); ">
                <span class="inner-text-description-short valign">Shashwat Maheshwari</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Vineeth Vincent is a Beatboxer, Musician, emcee and performing artist from Bangalore, Karnataka, India. He is considered as India's biggest
          beatboxer.</p>
        <a href="https://en.wikipedia.org/wiki/Vineeth_Vincent" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
               <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./imgs/vin.jpg')">
                  <span class="inner-text-description-short valign">Vineeth Vincent</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url('./imgs/angad.jpg'); ">
                 <span class="inner-text-description-short valign">Angad Singh Ranyal</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url(''); ">
                           <span class="inner-text-description-short valign"><h2>INFORMALS</h2></span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Rakesh Syam is a globe-trotting, wise-cracking, internationally acclaimed Mind reader and Illusionist for Corporate Events. Rakesh Syam has spent more than a decade, cruising the world with his unique brand of fast paced,
          funny, mystifying stand-up and mind reading shows.</p>
        <a href="https://www.rakeshsyam.com/" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/rakesh.jpg'); ">
                 <span class="inner-text-description-short valign">Rakesh Syam</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                    ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url(''); ">
                 <span class="inner-text-description-short valign"><h2>INFORMALS</h2></span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container">
      <div class="inner-text-description-long">
        <p>Sunil suresh is a Entrepreneur, Beat Boxer and 
          India's Got Talent seeason 5 semi finalist .</p>
        <a href="https://www.instagram.com/sunilsureshofficial/?hl=en" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),url('./imgs/sunil.jpg'); ">
                  <span class="inner-text-description-short valign">Sunil suresh</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">7</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">8</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<!--- copied stuff
-->

  <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Non enim solum Torquatus dixit quid sentiret, sed etiam cur. Quicquid porro animo cernimus, id omne oritur a sensibus; Quasi ego id curem, quid ille aiat aut neget. Non pugnem cum homine, cur tantum habeat in natura boni; Duo enim genera quae erant, fecit tria. Verba tu fingas et ea dicas, quae non sentias? Ille vero, si insipiens-quo certe, quoniam tyrannus -, numquam beatus; Sed in rebus apertissimis nimium longi.</p>
        <a href="https://www.youtube.com/channel/UCO1cgjhGzsSYb1rsB4bFe4Q/videos" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">9</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container tabview">
      <div class="inner-text-description-long" data-link="">
        <p>Born intelligent, Angad Singh Ranyal figured out the key to a successful life and career early on in life. Get the most coveted qualification possible (he has an Engineering degree, along with an MBA), and then go on to make jokes about it for the rest of your life.
          Angad has been hailed as one of the most promising comedians in the Indian comedy scene, having performed more
          than 500 shows and at 150 corporates across 17 cities in India. </p>
        <a href="https://www.facebook.com/angadsranyal/" target="_blank" rel="noopener" class="link">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row2                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
              ),
              url('./imgs/angad.jpg'); ">
           <span class="inner-text-description-short valign">Angad Singh Ranyal</span>



              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long">
        <p>Quam ob rem tandem, inquit, non satisfacit? Igitur neque stultorum quisquam beatus neque sapientium non beatus. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; Iam in altera philosophiae parte. Negat enim summo bono afferre incrementum diem. Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur. Illa argumenta propria videamus, cur omnia sint paria peccata. Quid autem habent admirationis, cum prope accesseris? Eadem nunc mea adversum te oratio est. Ita enim vivunt quidam, ut eorum vita refellatur oratio.</p>
        <a href="https://github.com/MostlyAdequate/mostly-adequate-guide" target="_blank" rel="noopener">Know More</a>
        <button role="button" class="close">close</button>
      </div>

      <div class="comb
                        row3                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                  <span class="inner-text-description-short valign">11</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)
              ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                           <span class="inner-text-description-short valign">14</span>

                        </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="comb-container mobileview tabview" >
      <div class="inner-text-description-long" data-link=""></div>

      <div class="comb
                        disabled                        ">
        <div class="hex_l">
          <div class="hex_r">
            <div class="hex_inner">
              <div class="inner_span" style="background:   linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),url('https://image.shutterstock.com/image-photo/closeup-headshot-businessman-standing-against-260nw-1275769564.jpg'); ">
                 <span class="inner-text-description-short valign">15</span>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>







</div>
</div>
</div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js'></script>
  <script  src="./javascripts/highlights.js"></script>
  <script>
    if(screen.width > 1000){
     var x = document.getElementsByClassName("mobileview");
     var i;
      for (i = 0; i < x.length; i++) {

              x[i].style.display = "none";

          }
          var y = document.getElementsByClassName("honeycombs");
          var k;
     for (k = 0; k < y.length; k++) {

            y[k].style.left = "17.5%";

       }

    }
    if(screen.width < 1000){
     var x = document.getElementsByClassName("tabview");
     var i;
     var k;
      for (i = 0; i < x.length; i++) {

              x[i].style.display = "none";

          }
      var y = document.getElementsByClassName("honeycombs");
     for (k = 0; k < y.length; k++) {

            y[k].style.left = "0%";

       }

       var magn = document.getElementById('magnavista');
    magn.style.margin = "70vh 0 0 0";

    var inf = document.getElementById('informals');
    inf.style.margin = "130vh 0 0 0";

    var para = document.getElementsByTagName('p');
    var z ;

    for (z = 0; z < para.length; z++) {

      para[z].style.fontSize = "35px";
    }

    var lk ;
    var link = document.getElementsByClassName('link');
    for (lk = 0; lk < link.length; lk++) {

      link[lk].style.fontSize = "35px";
    }

    var cl ;
    var cls = document.getElementsByClassName('close');
    for (cl = 0; cl < cls.length; cl++) {

      cls[cl].style.fontSize = "35px";
    }
    
    }
   
  </script>
</body>
</html>
