<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/initiatives.css">
    <title>Initiatives | Wissenaire'21 </title>
    <script src="./javascripts/jquery.slim.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

    <style>
        .main h1 {

            font-family: 'Courgette', cursive;
            overflow: hidden;
            /* Ensures the content is not revealed until the animation */
            border-right: .15em solid orange;
            /* The typwriter cursor */
            /* white-space: nowrap; */
            /* Keeps the content on a single line */
            margin: 0 auto;
            /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing 2.5s steps(30, end),
                blink-caret .5s step-end infinite;
        }

        /* The typing effect */
        @keyframes typing {
            from {
                width: 0
            }

            to {
                width: 100%;

            }
        }

        /* The typewriter cursor effect */
        @keyframes blink-caret {

            from,
            to {
                border-color: transparent
            }

            100% {
                border-color: orange
            }
        }
    </style>

</head>

<body>
    <div class="main">
        <h1 style="color: burlywood;"><b>Initiatives By Wissenaire</b></h1>
        <ul class="cards">
            <li class="cards_item">
                <div class="card" id="one">
                    <div class="card_image"><img src="./images/dell.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">DELL Workshop</h2>
                        <p class="card_text">Wissenaire - IIT Bhubaneswar in association with LabourNet brings to you "Dell On-Line", a 
                            CSR (Corporate Social Responsibility) Program supported by Dell, which seeks to educate, train and certify 
                            candidates in Machine Learning/Web Development/Digital Marketing. The duration of the training will be 2-2.5 months, it will be online and will consists of interactive doubt clearing sessions, technical lectures and hands-on activities. The training will be handled by LabourNet Academy. Certificates issued by DELL will be provided to candidates on successful completion of the course.</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" id="two">
                    <div class="card_image"><img src="./images/wintern.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">WINTERN is coming</h2>
                        <p class="card_text">Wissenaire had conducted a free online internship drive. This internship opportunity was 
                            exclusively for Wissenaire'20 participants as a token of gratitude. With current pandemic situation 
                            and changing market dynamics it is very important to upgrade and polish your skills. This internship drive was a 
                            good opportunity to gain a hands on experience in the career field that you want to pursue. It will also open a window of
                             opportunities for you as it will allow you to increase your network and help you in building your profile.</p>

                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" id="three">
                    <div class="card_image"><img src="./images/do4nation.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">DO4NATION</h2>
                        <p class="card_text">"Alone we can do so little; together we can do so much!" <br>
                            Wissenaire '21 had conducted a Fundraiser for PM CARES to aid India's fight against COVID19 titled "Do4Nation".
                            The event was a grand success, epitomized by the selfless and enthusiastic contributions from the participants! 
                            We have successfully donated INR 15991 to the PM CARES Fund!
                            We would like to extend our sincerest gratitude to all the participants, without whom the event wouldn't have 
                            been a success. </p>

                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" id="four">
                    <div class="card_image"><img src="./images/stp.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">Summer Training Program</h2>
                        <p class="card_text">" You don't have to be great to start, but you have to start to be great"<br>
                            And what can be a better time to start than this lockdown period? So we are delighted to announce that 
                            Wissenaire, IIT Bhubaneswar is offering a summer training program. It is an excellent opportunity to learn 
                            trending technologies under the guidance of research engineers.</p>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" id="five">
                    <div class="card_image"><img src="./images/sanchaar.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">Sanchaar</h2>
                        <p class="card_text">Sanchaar is the out-house Workshop Program organized by Wissenaire in
                            association with some of the prominent names in
                            the tech industry, which provides an extraordinary opportunity to give boost to students’
                            skills and expertise in their
                            respective fields of interest along with valuable hands on experience. From the latest
                            cutting edge technology topics
                            such as IoT, Cyber Security, AI and ML, Digital Marketing, etc., Sanchaar brings the tech
                            carnival to the major cities
                            of India.</p>

                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card" id="six">
                    <div class="card_image"><img src="./images/nco.jpg" style="height: 250px; width: 100%;"></div>
                    <div class="card_content">
                        <h2 class="card_title">National Coding Olympiad</h2>
                        <p class="card_text">Coding is the call for the day! In this time, where everything is becoming more and more automated, everyone should be able to code. Acknowledging the fact, coding has been touted to be an irreplaceable part of modern education in the National Educational Policy 2020.
                            Wissenaire '21 is collaborating with SuperTeacher Edureforms to organize the National Coding Olympiad Junior. Through this olympiad, we aim to encourage creativity and help them develop some cool coding skills.</p>

                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('#one').mouseover(function () {
                $('#one').css({ "border": "4px solid #06beb6" });
            });
            $("#one").mouseout(function () {
                $("#one").css("border", "0.25rem");
            });
            $('#two').mouseover(function () {
                $('#two').css({ "border": "4px solid #06beb6" });
            });
            $("#two").mouseout(function () {
                $("#two").css("border", "0.25rem");
            });
            $('#three').mouseover(function () {
                $('#three').css({ "border": "4px solid #06beb6" });
            });
            $("#three").mouseout(function () {
                $("#three").css("border", "0.25rem");
            });
            $('#four').mouseover(function () {
                $('#four').css({ "border": "4px solid #06beb6" });
            });
            $("#four").mouseout(function () {
                $("#four").css("border", "0.25rem");
            });
            $('#five').mouseover(function () {
                $('#five').css({ "border": "4px solid #06beb6" });
            });
            $("#five").mouseout(function () {
                $("#five").css("border", "0.25rem");
            });
            $('#six').mouseover(function () {
                $('#six').css({ "border": "4px solid #06beb6" });
            });
            $("#six").mouseout(function () {
                $("#six").css("border", "0.25rem");
            });

        });
    </script>
</body>

</html>