<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/team/style.css">
    <link rel="stylesheet" href="./stylesheets/team/hover.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
    crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">	
    <title>Team | Wissenaire'21</title>
	<link href="./stylesheets/icofont/icofont.min.css" rel="stylesheet">
	<link href="./stylesheets/navbar.css" rel="stylesheet">
	<link rel="icon" type="image/png"  href="./images/logo-mini.png" type="image/x-icon">
    <style>
        html{
            font-family: "Montserrat" !important;
        }
    </style>
</head>

<body id="particles">

	<header style="height: 1vh !important;" class="hidden">
		<div id="navigation" class="">
			<a class="menu-toggle">
				<div class="btn-toggle">
					<div>
						<div class="before"></div>
						<div class="after"></div>
					</div>
				</div>
			</a>
			<nav role="navigation" aria-labelledby="block-butterfly-main-menu-menu" id="block-butterfly-main-menu" class="page-navigation-menu block block-menu navigation menu--main">
						
			  <h2 class="visually-hidden" id="block-butterfly-main-menu-menu">Main navigation</h2>
			  <ul>
				  <% if(participant) { %>
				<li class="open">
					<a href="/profile"><i class="icofont-ui-user"></i></a><br><br><a href="/profile">My Profile</a>
				  </li>
				  <% } else { %>
				<li class="open">
                    <a href="/auth/google"><i class="icofont-sign-in"></i></a><br><br><a href="/auth/google">Sign In</a>
				</li>
				  <% } %>
				<li>
                    <a href="/about"><i class="icofont-info-circle"></i></a><br><br><a href="/about">About</a>
				</li>
				<li>
                    <a href="/competitions"><i class="icofont-puzzle"></i></a><br><br><a href="/competitions" data-drupal-link-system-path="node/4">Competitions</a>
				</li>
				<li>
                    <a href="/workshops"><i class="icofont-learn"></i></a><br><br><a href="/workshops" data-drupal-link-system-path="case-studies">Workshops</a>
				</li>
				<li>
                    <a href="/guestlectures"><i class="icofont-mic"></i></a><br><br><a href="/guestlectures" data-drupal-link-system-path="blog">Guest Lectures</a>
				</li>
				<li>
                    <a href="/exhibits"><i class="icofont-robot"></i></a><br><br><a href="/exhibits" data-drupal-link-system-path="contact/contact_us">Exhibits</a>
				</li>
				
				<li>
                    <a href="/initiatives"><i class="icofont-light-bulb"></i></a><br><br><a href="/initiatives" data-drupal-link-system-path="contact/contact_us">Initiatives</a>
				</li>
				<li>
                    <a href="/highlights"><i class="icofont-star-alt-1"></i></a><br><br><a href="/highlights" data-drupal-link-system-path="contact/contact_us">Highlights</a>
				</li>
				<li>
                    <a href="https://ca.wissenaire.org" ><i class="icofont-live-support"></i></a><br><br><a href="https://ca.wissenaire.org" data-drupal-link-system-path="contact/contact_us">Campus Ambassador</a>
				</li>
				<li>
                    <a href="/team"><i class="icofont-speech-comments"></i></a><br><br><a href="/team" data-drupal-link-system-path="contact/contact_us">Team</a>
				</li>
				<li>
                    <a href="/sponsors"><i class="icofont-money"></i></a><br><br><a href="/sponsors" data-drupal-link-system-path="contact/contact_us">Sponsors'20</a>
				</li>
				<li>
                    <a href="/contact"><i class="icofont-send-mail"></i></a><br><br><a href="/contact" data-drupal-link-system-path="contact/contact_us">Reach us</a>
				</li>
	
			  </ul>
			</nav>
			
			<div id="block-butterfly-branding" class="site-branding block block-system block-system-branding-block">
				<a href="/" title="Home" rel="home" class="site-branding__logo"> 
			<dpan class="sr-only">Wissenaire logo</dpan>
		  </a>
		</div>
		<div class="menu-slide-back">
		  <span class="icon icon-fonts icon-arrow-back">
			<span class="sr-only">go back to previous menu</span>
		  </span>
		</div>
	  </div>
	</header>

    <div class="container" style="margin-top: 200px;">
        <h1>Chief Coordinator</h1>
        <div class="img-area">
            <figure class="snip1206 hvr-grow">
                <img src="./img/1.JPG" alt="sample74" />
                <figcaption>
                    <h3><u> Shashank</u></h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;mns10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i> &nbsp;9989923323</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
        </div>

           

            <h1>Marketing</h1> 
            <div class="img-area">
            <figure class="snip1206 hvr-grow">
                <img src="./img/8.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>Aniket </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i> &nbsp;aks23@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i> &nbsp;6352303546</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/9.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>Jayaditya </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i> &nbsp;jj11@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i> &nbsp;8179186860</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/10.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>likhitha </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i> &nbsp;ysl10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9494177733</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/11.JPG" alt="sample74" />
                <figcaption>
                    <h3><u> rahul </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;rr27@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9207504158</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/12.jpg" alt="sample74" />
                <figcaption>
                    <h3><u>saiteja </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;jsv10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9449384289</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
           
           
           
            <figure class="snip1206 hvr-grow">
                <img src="./img/14.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>vaibhav  </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;vv18@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;8871125428</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
           </div>

           <h1>Branding</h1>
           <div class="img-area">
               <figure class="snip1206 hvr-grow">
                   <img src="./img/2.jpeg" alt="sample74" />
                   <figcaption>
                       <h3><u>Swapnil </u></h3>
                       <p style="font-size: 20px;">
                           <i class="far fa-envelope" style="color:red;"></i>&nbsp;ss93@iitbbs.ac.in <br />
                           <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;95218 27427</p>
                   </figcaption>
                   <!-- <a href="#"></a> -->
               </figure>
               <figure class="snip1206 hvr-grow">
                   <img src="./img/3.JPG" alt="sample74" />
                   <figcaption>
                       <h3><u>Anish</u></h3>
                       <p style="font-size: 20px;">
                           <i class="far fa-envelope" style="color:red;"></i>&nbsp;yar10@iitbbs.ac.in <br />
                           <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;6302743914</p>
                   </figcaption>
                   <!-- <a href="#"></a> -->
               </figure>
   
               <figure class="snip1206 hvr-grow">
                   <img src="./img/13.JPG" alt="sample74" />
                   <figcaption>
                       <h3><u>sreekar </u> </h3>
                       <p style="font-size: 20px;">
                           <i class="far fa-envelope" style="color:red;"></i>&nbsp;gvs11@iitbbs.ac.in <br />
                           <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7424947229</p>
                   </figcaption>
                   <!-- <a href="#"></a> -->
               </figure>
             
               
               </div>

               <h1>Workshops</h1> 
               <div class="img-area">
               <figure class="snip1206 hvr-grow">
                   <img src="./img/4.JPG" alt="sample74" />
                   <figcaption>
                       <h3><u>Aakanksha</u></h3>
                       <p style="font-size: 20px;">
                           <i class="far fa-envelope" style="color:red;"></i>&nbsp;ajn10@iitbbs.ac.in <br />
                           <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9326195804</p>
                   </figcaption>
                   <!-- <a href="#"></a> -->
               </figure>
               <figure class="snip1206 hvr-grow">
                   <img src="./img/5.JPG" alt="sample74" />
                   <figcaption>
                       <h3><u>Chaitra Vardhan</u> </h3>
                       <p style="font-size: 20px;">
                           <i class="far fa-envelope" style="color:red;"></i>&nbsp;bcv10@iitbbs.ac.in <br />
                           <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;6303317836</p>
                   </figcaption>
                   <!-- <a href="#"></a> -->
               </figure>
              
              
               </div>
              

           <h1>Competitions</h1> 
           <div class="img-area">
           <figure class="snip1206 hvr-grow">
               <img src="./img/6.jpeg" alt="sample74" />
               <figcaption>
                   <h3><u>Satwik </u> </h3>
                   <p style="font-size: 20px;">
                       <i class="far fa-envelope" style="color:red;"></i>&nbsp;js25@iitbbs.ac.in <br />
                       <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;8790472897</p>
               </figcaption>
               <!-- <a href="#"></a> -->
           </figure>
           <figure class="snip1206 hvr-grow">
               <img src="./img/7.JPG" alt="sample74" />
               <figcaption>
                   <h3><u>Harsha </u> </h3>
                   <p style="font-size: 20px;">
                       <i class="far fa-envelope" style="color:red;"></i>&nbsp;ksh10@iitbbs.ac.in <br />
                       <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381473491</p>
               </figcaption>
               <!-- <a href="#"></a> -->
           </figure>
          
          
           </div>
            <h1>Public Relations</h1> 
            <div class="img-area">
            <figure class="snip1206 hvr-grow">
                <img src="./img/15.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>abhinav </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;sar10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7386755009</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/16.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>praneeth </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;pp35@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9494180075</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/17.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>varun </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;vkc10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381564669</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/18.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>sahithi </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;css10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;6303336539</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/19.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>shreya </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;sm69@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9701278305</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/20.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>rithik </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;vrp11@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9491100024</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/21.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>charan</u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;rck11@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9963482238</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
           
        </div>
       
            <h1>Campus Ambassador Program</h1> 
            <div class="img-area">
            <figure class="snip1206 hvr-grow">
                <img src="./img/22.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>Vivek </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;sv21@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7337094987</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            
           
           
            </div>
            <h1>Exhibits</h1> 
            <div class="img-area">
            
            <figure class="snip1206 hvr-grow">
                <img src="./img/24.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>revanth </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;kr27@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381100592</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/25.jpeg" alt="sample74" />
                <figcaption>
                    <h3><u>ravikanth </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;pr27@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381208893</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            
            </div>

            <h1>Qwissenaire</h1> 
            <div class="img-area">
                <figure class="snip1206 hvr-grow">
                    <img src="./img/26.jpeg" alt="sample74" />
                    <figcaption>
                        <h3><u>Hrushikesh </u> </h3>
                        <p style="font-size: 20px;">
                            <i class="far fa-envelope" style="color:red;"></i>&nbsp;kh11@iitbbs.ac.in <br />
                            <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9494547639</p>
                    </figcaption>
                    <!-- <a href="#"></a> -->
                </figure>
                <figure class="snip1206 hvr-grow">
                    <img src="./img/33.JPG" alt="sample74" />
                    <figcaption>
                        <h3><u>manoj </u> </h3>
                        <p style="font-size: 20px;">
                            <i class="far fa-envelope" style="color:red;"></i>&nbsp;mak13@iitbbs.ac.in <br />
                            <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381300076</p>
                    </figcaption>
                    <!-- <a href="#"></a> -->
                </figure>
                <figure class="snip1206 hvr-grow">
                    <img src="./img/23.JPG" alt="sample74" />
                    <figcaption>
                        <h3><u>shivdarshan </u> </h3>
                        <p style="font-size: 20px;">
                            <i class="far fa-envelope" style="color:red;"></i>&nbsp;psd11@iitbbs.ac.in <br />
                            <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9515076412</p>
                    </figcaption>
                    <!-- <a href="#"></a> -->
                </figure>
            </div>

            <h1>Guest Lectures</h1> 
            <div class="img-area">
            
            <figure class="snip1206 hvr-grow">
                <img src="./img/34.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>snehitha </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;gs31@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7330999838</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/35.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>swetha </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;ss91@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9490777492</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
           
            </div>


            <h1>Creatives</h1> 
            <div class="img-area">
            
            <figure class="snip1206 hvr-grow">
                <img src="./img/28.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>kartheek </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;gk35@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7036987953</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/29.jpg" alt="sample74" />
                <figcaption>
                    <h3><u>jithendra </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;kss12@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7337248309</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/30.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>sai ram </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;vsr10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7569166915</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/31.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>jitendra </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;pjt10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;6303555598</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/32.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>naresh </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;pnb11@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9550735867</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>           
            </div>

            
            <h1>Web</h1> 
            <div class="img-area">
				<figure class="snip1206 hvr-grow">
					<img src="./img/27.JPG" alt="sample74" />
					<figcaption>
						<h3><u>rohith </u> </h3>
						<p style="font-size: 20px;">
							<i class="far fa-envelope" style="color:red;"></i>&nbsp;br16@iitbbs.ac.in <br />
							<i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7780643299</p>
					</figcaption>
					<!-- <a href="#"></a> -->
				</figure>
           <figure class="snip1206 hvr-grow">
                <img src="./img/36.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>sudheer </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;bds15@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7675974963</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/38.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>vasanth </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;yvr10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;9381225042</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            <figure class="snip1206 hvr-grow">
                <img src="./img/37.JPG" alt="sample74" />
                <figcaption>
                    <h3><u>chandana </u> </h3>
                    <p style="font-size: 20px;">
                        <i class="far fa-envelope" style="color:red;"></i>&nbsp;gsc10@iitbbs.ac.in <br />
                        <i class="fab fa-whatsapp" style="color:green;"></i>&nbsp;7997086517</p>
                </figcaption>
                <!-- <a href="#"></a> -->
            </figure>
            
           
            </div>
            <!-- <div class="single-img"><img src="./img/3D Pen.jpg" alt=""></div>
                <div class="single-img"><img src="./img/3D Pen.jpg" alt=""></div>
                <div class="single-img"><img src="./img/3D Pen.jpg" alt=""></div>
                <div class="single-img"><img src="./img/3D Pen.jpg" alt=""></div>
                <div class="single-img"><img src="./img/3D Pen.jpg" alt=""></div> -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="./javascripts/team/jquery.particleground.js"></script>
    <script type="text/javascript" src="./javascripts/team/style.js"></script>
    <script>
        // particleground(document.getElementById("particles"));
    </script>
    <!-- <script type="text/javascript" src="./js/demo.js"></script> -->
</body>

</html>